* {
  margin: 0;
  padding: 0;
}

.form-parent {
  background-color: white;
  display: flex;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 7px rgb(212, 212, 212);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 396px;
  width: 430px;
}

.form-parent form {
  display: flex;
  align-items: center;
   flex-direction: column;
  justify-content: center;
  width: 100%;
}

.form-parent form span {
  color: red;
  font: 13px Arial, Helvetica, sans-serif;
}

.login-parent {
  background: #f1f1f1;
  display: flex;
  align-items: center;
  padding-top: 34px;
  flex-direction: column;
  height: 100vh;
}

.login-parent h1 {
  color: #1877f2;
  font-size: 50px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.form input {
  border-radius: 5px;
  outline: none;
  height: 50px;
  font-size: 19px;
  border: 1px solid #e6e3e3;
  margin: 6px 16px;
  display: block;
  width: 91%;
  padding: 16px 16px;
}

.form input::placeholder {
  font-size: 19px;
  opacity: 80%;
}

.form input:focus {
  opacity: 70%;
}

.form h3 {
  /* border: 1px solid red; */
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  padding: 24px 0 16px;
}

.form button {
  margin: 6px 0;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 16px;
  width: 92%;
  border-radius: 10px;
  height: 48px;
  background: #1877f2;
}

.forgot-account {
  margin: 10px 0 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: #1877f2;
}

.create-account {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  /* border: 1px solid red; */
  margin: 6px 0;
  font-size: 19px;
  text-decoration: none;
  font-weight: bold;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px 16px;
  width: 220px;
  color: #fff;
  background: #42b72a;
  border-radius: 10px;
}

.border {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  /* border: 1px solid blue; */
  width: 100%;
  padding: 10px 0px;
}

.border p {
  color: #8a8a8a;
}

.border span {
  border: 1px solid rgb(212, 212, 212);
  width: 40%;
}